This is the action I made: name: 
Publish Portfolio Update
on: [push]
jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Run Feed Generator
      uses: VICTORJOSEARAVENALANDE/portfolio-generator@main
    
